body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
}

.container {
    width: 100%;
    max-width: 600px; /* 根据需要调整最大宽度 */
}

#answer-btn {
    padding: 10px 20px;
    margin-bottom: 20px; /* 按钮和答案之间的距离 */
    font-size: 18px;
    cursor: pointer;
}

#answer {
    display: none;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}
